<div id={{comment.id}} class="comment">
  <div>
    <div class="author">
      <div data-v-f3bf5228="" class="v-tooltip-container" style="z-index: 0;">
        <div class="v-tooltip-content">
          <a href="javascript:void(0);" target="_blank" class="avatar">
            <img src="{{comment.avatar}}">
          </a>
        </div> <!---->
      </div>
      <div class="info">
        <a href="javascript:void(0);" target="_blank" class="name">{{comment.commenter}}
        </a> <!----> <!---->
        <div class="meta">
          <span>{{comment.index}}楼 · {{comment.commentTime}}
          </span>
        </div>
      </div>
    </div>
    <div class="comment-wrap">
      <p>{{comment.commentContent}}</p>
      <div class="tool-group">
        <a data-v-cdecbe24="" id="like-button-25814302" class="like-button">
          <span data-v-cdecbe24="">{{comment.starNumber}}人赞
          </span>
        </a>
        <a ng-if="comment.commenter == user.username" class="like delete" href="javascript:void(0);" ng-click="deletefslcmt(saying.id, comment.id)">
          <span>删除</span>
        </a>
        <a class="like delete-reply" href="javascript:void(0);" ng-click="showSecondComment(comment, comment.commenter)">
          <span>回复</span>
        </a>
      </div>
    </div>
  </div>
  <div class="sub-comment-list" ng-repeat="childComment in comment.slcs">
    <div id={{comment.id}} class="sub-comment">
      <p>
        <div data-v-f3bf5228="" class="v-tooltip-container" style="z-index: 0;">
          <div class="v-tooltip-content">
            <a href="javascript:void(0);" target="_blank">{{childComment.replier}}
            </a>：
          </div> <!---->
        </div>
        <span>
          <a href="/u/0efd14e6d258" class="maleskine-author" target="_blank" data-user-slug="0efd14e6d258">@{{childComment.toCommenter}}
          </a> {{childComment.replyContent}}
        </span>
      </p>
      <div class="sub-tool-group">
        <span>{{childComment.replyTime}}
        </span>
        <a class="">
          <i class="iconfont ic-comment">
          </i>
          <span>回复
          </span>
        </a> <!----> <!---->
      </div>
    </div>
  </div>
  <div class="sub-comment more-comment">
    <a class="add-comment-btn" href="javascript:void(0);" ng-click="showComment()">
      <span>查看全部{{comment.childCommentNumber}}条评论</span>
      <span class="glyphicon glyphicon-pencil"></span>
    </a> <!----> <!----> <!---->
    
<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

<div class="btn-toolbar" role="toolbar">
      <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star</button>
      <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star</button>
      <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star</button>
    </div>
  </div> <!---->
</div>
